<!DOCTYPE html>
<html>
  <head>
    <title>UiaSciener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to Rails.application.class.parent, root_path %></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <%= link_to "Lock Managment", locks_path("current"), class: "p-2 text-dark" %>
      <% if params[:lock_id].present? %>
        ::
        <%= link_to "eKeys", lock_keys_path, class: "p-2 text-dark"  %>
        <%= link_to "Passcodes", lock_passcodes_path, class: "p-2 text-dark"  %>
        <%= link_to "RFIDs", lock_rfids_path, class: "p-2 text-dark"  %>
        <%= link_to "Records", lock_records_path, class: "p-2 text-dark"  %>
      <% end %>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
      <% if current_user %>
        Logged in as session[:username] %>.
        <%= link_to "Log Out", session_path("current"), method: "delete", class: "p-2 text-dark" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "p-2 text-dark"  %> or
        <%= link_to "Log In", new_session_path, class: "p-2 text-dark"  %>
      <% end %>
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
